* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, serif;
}

#paletteContainer {
  display: flex;
  justify-content: center;
  
}

#wholePalette {

  display: flex;
  align-items: stretch;

/*  display: block;
overflow: auto; */

 width: 576px;
 height: 576px;  


/* border: 1px solid black; */
  
}

#changeSize {
  display: flex;
  justify-content: center;
  
}

#btnChangeSize{
  padding: 10px;
  font-size: large;
}