* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, serif;
}

#paletteContainer {
  display: flex;
  justify-content: center;
  
}

#wholePalette {

  display: flex;
  align-items: stretch;
  width: 576px;
  height: 576px;  
  
}

#changeSize {
  display: flex;
  justify-content: center;
  
}

#btnChangeSize{
  padding: 10px;
  font-size: large;
}